{% extends 'base.html' %}

{% block title %}
{{ news.item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Category: <a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a>
    </div>
    <div class="card-body">
        {% if item.photo %}
        <img src="{{ news_item.photo.url }}" alt="" width="350" class="float-left mr-3">
        {% else %}
        <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="" class="float-left mr-3">
        {% endif %}

        <h5 class="card-title">{{ news_item.title }}</h5>
        <p class="card-text">{{ news_item.content|safe|linebreaks }}</p>
    </div>
    <div class="card-footer text-muted">
        {{ news_item.created_at|date:"Y-m-d H:i:s" }}
    </div>
</div>
{% endblock %}
